<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @aula.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @aula.description %>
</p>

<p>
  <strong>Vídeo:</strong>
  <%= @aula.video %>
</p>

<p>
  <strong>Data de Publicação:</strong>
  <%= @aula.publication %>
</p>

<p>
  <strong>Data Final:</strong>
  <%= @aula.end_date %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @aula.obs %>
</p>

<%= link_to 'Edit', edit_aula_path(@aula) %> |
<%= link_to 'Back', aulas_path %>
